# Brevo SMTP Configuration Settings
BREVO_SMTP_USERNAME=your_brevo_smtp_username_here
BREVO_SMTP_PASSWORD=your_brevo_smtp_password_here
MAIL_FROM=aakashsrivastava2151@gmail.com
MAIL_FROM_NAME=Aakash Srivastava
OTP_EXPIRY_MINUTES=5
